USE [master]
GO
/****** Object:  Database [VehicleDB]    Script Date: 14.04.2022 18:15:43 ******/
CREATE DATABASE [VehicleDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VehiclesDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\VehiclesDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VehiclesDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\VehiclesDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VehicleDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VehicleDB]
GO
/****** Object:  Table [dbo].[Boats]    Script Date: 14.04.2022 18:15:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boats](
	[BoatID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nchar](10) NOT NULL,
	[Engine] [bit] NOT NULL,
 CONSTRAINT [PK_Boats] PRIMARY KEY CLUSTERED 
(
	[BoatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Buses]    Script Date: 14.04.2022 18:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buses](
	[BuseID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nchar](10) NOT NULL,
	[Headlights] [bit] NOT NULL,
	[Engine] [bit] NOT NULL,
 CONSTRAINT [PK_Buses] PRIMARY KEY CLUSTERED 
(
	[BuseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cars]    Script Date: 14.04.2022 18:15:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cars](
	[CarID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [nchar](10) NOT NULL,
	[Headlights] [bit] NOT NULL,
	[Engine] [bit] NOT NULL,
 CONSTRAINT [PK_Cars] PRIMARY KEY CLUSTERED 
(
	[CarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Boats] ON 

INSERT [dbo].[Boats] ([BoatID], [Color], [Engine]) VALUES (2, N'blue      ', 1)
SET IDENTITY_INSERT [dbo].[Boats] OFF
SET IDENTITY_INSERT [dbo].[Buses] ON 

INSERT [dbo].[Buses] ([BuseID], [Color], [Headlights], [Engine]) VALUES (1, N'blue      ', 1, 1)
SET IDENTITY_INSERT [dbo].[Buses] OFF
SET IDENTITY_INSERT [dbo].[Cars] ON 

INSERT [dbo].[Cars] ([CarID], [Color], [Headlights], [Engine]) VALUES (1, N'green     ', 1, 1)
SET IDENTITY_INSERT [dbo].[Cars] OFF
USE [master]
GO
